{% extends "auth/base.html" %}

{% block title %}Reset your  password{% endblock title %}

{% block content %}
  <h1>Reset your  password</h1>
  <p>enter your   password twice:</p>
  {% if validlink %}
    
  <form method="post">
      
      {{form.as_p}}
      {% csrf_token %}
      <p><input type="submit" value="Change my password"></p>
    </form>
    
      
    {% else %}
    <p>
        the password reset link was invalid
    </p>  
    {% endif %}
    
    
    

    {% endblock content %}
